*
{
	padding: 0;
	margin:0;
	color: white;
}


#back
{
	background-color: black;
	width: 650px;
	height: 600px;
	position: absolute;
	left: 25%;
}

#top
{
	height: 100px;
	width: 360px;
	background-color: red;
	border-style: solid;
	border-left: 2px;
	border-top: 2px;
	border-color: yellow;
	border-bottom-right-radius:15% ;
}


#bottom
{
	height: 100px;
	width: 360px;
	position: absolute;
	bottom: 0;
	background-color: red;
	border-style: solid;
	border-left: 2px;
	border-bottom: 2px;
	border-color: yellow;
	border-top-right-radius: 15%;

}
.letter
{
	color: orange;
	font-size: 30px;
	text-transform: capitalize;
}


#spacing

{
	position: relative;
	top: 20px;
}